*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

ul, ol, menu{
    list-style: none;
}

h1 {
    text-align: center;
}

.input{
    text-align: center;
    padding: 10px 0px;
}

.input-el{
    padding: 0.25rem;
    border-radius: 0.3rem;
    border: none;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.list {
    background-color: white;
    border-radius: 1.5rem;
    padding: 10px;
}

.list-el {
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
}

.list-text{
    cursor: pointer;
}

.done{
    color: greenyellow;
    text-decoration: line-through;
    font-weight: bold;
}