<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>TODOLIST</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <header>
                <h1>TODOLIST</h1>
            </header>
            <main>
                <div class="input">
                    <input class="input-el" v-model="newTodo" @keypress="enterClick" type="text">
                    <input class="input-el" @click="addTodo" type="button" value="Aggiungi">
                </div>
                <h2>Cose da Fare</h2>
                <ul class="list">
                    <li class="list-el"
                    v-for="(todo,index) in todos"
                    :class="todo.done ? 'done' : ''">
                        <span class="list-text" @click="check(todo)">{{ todo.text }}</span>
                        <i @click="check(todo)" class="fa-solid fa-check"></i>
                    </li>
                </ul>
                <h2>Completato</h2>
                <ul class="list">
                    <li class="list-el"
                    v-for="todo in isDone"
                    class="done">
                        {{ todo.text }}
                        <i @click="check(todo)" class="fa-solid fa-check"></i>
                    </li>
                </ul>
            </main>
        </div>

    </div>

    <script src="./js/app.js"></script>
</body>
</html>